/* AccountSummary.css */

.account-summary {
    padding: 20px;
    backdrop-filter: blur(3670px);
  }
  
  .options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .options label {
    margin-right: 10px;
  }
  
  .options select,
  .options input {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .account-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .account-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
  }
  
  .account-card:hover {
    background-color: #f0f0f0;
    transform: translateY(-5px);
  }
  
  .account-type {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .account-balance {
    margin-bottom: 10px;
  }
  
  .account-number,
  .rewards-points {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .green {
    background-color: lightgreen;
  }
  
  .blue {
    background-color: lightblue;
  }
  
  .summary-totals {
    text-align: right;
  }
  
  .total-balance {
    font-weight: bold;
    font-size: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  